body, main {
    display:flex ;
}
body {
    flex-direction: column;
}
main {
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
}
aside{
    flex: 1;
}
article, aside {
    overflow-y: auto;
}
h1 {
    color: blue;
}
article {
    background-color: rgb(120, 212, 112);
    border: black;

}
